*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E282A;
}

.container{
    position: relative;
    width: 400px;
    height: 105px;
    background: #f6f7eb;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.8 ease-out;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    color: #2E282A;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box input::placeholder{
    color: #2E282A;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #2E282A;
    background: #bb4d00;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.3s ease;
}

.search-box button:hover{
    color: #f6f7eb;
    background: #2E282A;
}

.search-box i{
    position: absolute;
    color: #bb4d00;
    font-size: 28px;
}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 60%;
    margin-top: 30px;
}

.weather-box .temperature{
    position: relative;
    color: #bb4d00;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #bb4d00;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.detalhes-clima{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.detalhes-clima .umidade, .detalhes-clima .vento{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px
}

.detalhes-clima .umidade{
    padding-left: 20px;
    justify-content: flex-start;
}

.detalhes-clima .vento{
    padding-left: 20px;
    justify-content: flex-end;   
}

.detalhes-clima i{
    color: #bb4d00;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.detalhes-clima span{
    color: #bb4d00;
    font-size: 22px;
    font-weight: 500;
}

.detalhes-clima p{
    color: #2E282A;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #2E282A;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .detalhes-clima {
    scale: 0;
    opacity: 0;
}

.fade-in{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fade-in{
    to{
        scale: 1;
        opacity: 1;
    }
}